Source: ros-noetic-quux-msgs
Section: misc
Priority: optional
Maintainer: Somebody <Somebody@somewhere.org>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-gencpp, ros-noetic-genmsg, ros-noetic-genpy, ros-noetic-ros-comm, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-quux-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: foo
